.iconStyle {
  max-width: 30px;
  max-height: 30px;
}
.input {
  width: 200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.maxHeight {
  max-height: 1000px !important;
}
.table {
  margin-top: 1em;
  width: 700px !important;
}
.ml1 {
  margin-left: 1em;
}
.ml2 {
  margin-left: 2em;
}
.mt1 {
  margin-top: 1em;
}
