<input type="number" class="input" [(ngModel)]="valueInput" name="valueInput" placeholder="Ingresa tu cantidad de slp
">
<button (click)="calculate()">Calculate</button>
<h3>{{total}}</h3>
<input type="text" class="form-control" placeholder="Ingresa tu moneda a buscar
" [(ngModel)]="filterCoins">

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Icon</th>
      <th scope="col">Coin</th>
      <th scope="col">Symbol</th>
      <th scope="col">Current Price</th>
      <th scope="col">Price Change in last 24h</th>
      <th scope="col">Total volume</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of coins | filter:filterCoins">
      <td>
        <img class="iconStyle" [src]="coin.image">
      </td>
      <td>{{coin.name}}</td>
      <td>{{coin.symbol}}</td>
      <td>{{coin.current_price}}</td>
      <td [ngClass]="coin.price_change_percentage_24h >0?'text-success':'text-danger'">
        {{coin.price_change_percentage_24h }}%
      </td>
      <td>{{coin.total_volume}}</td>
    </tr>
  </tbody>
</table>